
/* 
=====================================
CSS Vaeiables
=====================================
*/
:root {
	--size-xl : 36px;
	--size-lg : 20px;
	--size-md : 17px;
	--size-sm: 14px;
	--primary-color: #030d28;
	--secondary-color: #FFFFFF;
	--dark-gray-color: #434343;
	--bg-color: #FF1949;
}

/* 
=====================================
Basic Setup
=====================================
*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Lato-400';
	font-size: 16px;
	color: var(--primary-color);
	line-height: 1.5;
	overflow-x: hidden;
}

a,
span,
label {
	display: inline-block;
}

input,
button,
textarea {
	outline: 0;
	border: 0;
}

button {
	cursor: pointer;
}


/* 
=====================================
Start Reuseble Components
=====================================
*/
.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size: var(--size-xl);
	text-align: center;
	margin-bottom: 8px;
}

.small-title {
	font-size: var(--size-lg);
}

.title,
.small-title {
	font-family: 'Lato-900';
	color: var(--primary-color);
}

.line-1 {
	width: 62px;
	margin-bottom: 5px;
}

.line-2 {
	width: 32px;

}

.line-1,
.line-2 {
	margin-left: auto;
	margin-right: auto;
	border: 0;
	border-bottom: 2px solid var(--primary-color);
}

.paragraph {
	font-size: var(--size-md);
	color: var(--dark-gray-color);
}

.btn-lg {
	min-width: 212px;
	height: 65px;
	line-height: 65px;
	font-size: var(--size-lg);
}

.btn-sm {
	min-width: 146px;
	height: 42px;
	line-height: 42px;
	font-size: var(--size-sm);
}

.btn-lg,
.btn-sm {
	font-family: 'Montserrat-600';
	color: var(--secondary-color);
	background-color: var(--bg-color);
	text-align: center;
	text-transform: uppercase;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
/* 
=====================================
End Reuseble Components
=====================================
*/


/* 
=====================================
Start Header Section
=====================================
*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

header .header-top-content {
	padding: 10px 0;
	background-color: var(--bg-color);
}

header .flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-row .phone li :is(a, span),
.flex-row .email li :is(a, span) {
	color: var(--secondary-color);
	font-size: 18px;
}

/* 
-------------
NavBar
-------------
*/
.checkbox,
.toggle-btn {
	display: none;
}

header nav {
	padding: 20px 0;
	background-color: var(--secondary-color);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-menu ul li {
	display: inline-block;
}

.main-menu ul li:not(:last-child) a {
	font-family: 'Lato-700';
	color: var(--primary-color);
	text-transform: uppercase;
}

.main-menu ul li:not(:last-child) {
	margin-right: 27px;
}
/* 
=====================================
End Header Section
=====================================
*/


/* 
=====================================
Start Hero Section
=====================================
*/
.hero-section {
	background: url(../images/hero/hero-banner.jpg) no-repeat center / cover ;
	background-color: rgba(3, 13, 40, 0.7);
	background-blend-mode: overlay;
	padding: 360px 0;
}

.hero-text {
	text-align: center;
}

.hero-text h1 {
	font-family: 'Lato-700';
	font-size: 110px;
	color: var(--secondary-color);
	margin-bottom: 30px;
	line-height: 110px;
}
/* 
=====================================
End Hero Section
=====================================
*/


/* 
=====================================
Start Learning Center Section
=====================================
*/
.grid-row,
.learning-container,
.learning-left-content  {
	position: relative;
}

.grid-row {
	position: absolute;
    left: 0;
    top: -201px;
    background-color: #FFF;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 212px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
	padding: 77px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.grid-row::after {
	content: "";
	width: 440px;
	height: 11px;
	background-color: var(--bg-color);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -11px;
	margin: auto;
	border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-ms-border-radius: 0 0 20px 20px;
	-o-border-radius: 0 0 20px 20px;
}

.learning-left-content::after {
	content: "";
	position: absolute;
	top: 0;
	right: -107px;
	width: 2px;
	height: 260px;
	background-color: #CCCCCC;
}

.learning-left-content p:first-child {
	font-size: var(--size-xl);
	line-height: 44px;
}

.learning-left-content p:nth-child(2) {
	margin: 11px 0 23px;
}

.learning-icon {
	margin-right: 14px;
}

.learning-content {
	display: flex;
}

.learning-text p {
	font-size: 26px;
}

.learning-text span {
	font-family: 'Lato-700';
	font-size: var(--size-sm);
	margin-top: -5px;
	display: block;
}

.learning-content:not(:last-child) {
	margin-bottom: 30px;
}

.learning-content:not(:last-child) .learning-text {
	margin-left: 8px;
}
/* 
=====================================
End Learning Center Section
=====================================
*/


/* 
=====================================
Start Section
=====================================
*/

/* 
=====================================
End Section
=====================================
*/


/* 
=====================================
Start Section
=====================================
*/

/* 
=====================================
End Section
=====================================
*/


/* 
=====================================
Start Section
=====================================
*/

/* 
=====================================
End Section
=====================================
*/


/* 
=====================================
Start Section
=====================================
*/

/* 
=====================================
End Section
=====================================
*/


/* 
=====================================
Start Section
=====================================
*/

/* 
=====================================
End Section
=====================================
*/


/* 
=====================================
Start Section
=====================================
*/

/* 
=====================================
End Section
=====================================
*/


/* 
=====================================
Start Section
=====================================
*/

/* 
=====================================
End Section
=====================================
*/


